/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/mini.css/dist/mini-dark.min.css"; */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background-image: url('../src/assets/logo.png');
  background-size: 25%; */
  /* background-position: center; */
  background-color:rgba(176, 204, 189, 0.962);;
  text-align: center;
  vertical-align: middle;
  width: auto;
  height: auto;
  opacity: 1;
  color:black;
  /* background-repeat: repeat; */
}

.text-align {
  font-size:small;
}

.icon-display {
  transform: scale(1);
}

.tab {
    display: inline-block;
    margin-left: 4em;
}

button {
  height: 100px;  
  padding:auto;
  width:auto;
  padding:10px;
  margin-bottom: 5px;
}

.mat-mdc-button-persistent-ripple.mdc-button__ripple {
width:50px;
height:50px;
}
.mat-mdc-outlined-button .mat-mdc-button-touch-target {
  position: absolute;
  top: 0;
  size:auto;
  left: 0;
  right: 0;
  padding:none;
  height:fit-content;
  /* transform: translateY(-50%); */
  opacity: 1;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight:600;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height:1;
  letter-spacing: normal;
  text-transform:none;
  display:inline-block;
  white-space:inherit;
  word-wrap:normal;
  direction: ltr;
  width:100%;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing:antialiased;
  opacity: 1;
}

h1, h2 {
  opacity: 1;
  /* background-color:rgb(64, 167, 152); */
  /* background-color:rgba(71, 106, 134, 0.827); */
  text-align: center;
  padding: 16px 12px;
  font-weight: normal;
  font-style: normal;
  /* font-size: 20px; */
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  align-items: center;
  vertical-align: middle;
  margin:0px;
  box-sizing:border-box;
  /* border-radius: 10px; */
}

h3,
h5 {
  opacity: 1;
  background-color: inherit;
  /* background-color:rgb(64, 167, 152); */
  /* background-color:rgba(71, 106, 134, 0.827); */
  text-align: left;
  padding: 16px 12px;
  font-weight: normal;
  font-style: normal;
  /* font-size: 20px; */
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  align-items: center;
  height:64px;
  vertical-align: middle;
  margin:0px;
  box-sizing:border-box;
  /* border-radius: 10px; */
}

.example-action-buttons {
  padding: 5px;
  text-align: center;
  align-content: center;
  background-color: white;
  opacity: 1;
  height: fit-content;
  max-height: fit-content;
  align-items: center;
  font-size:large;
  vertical-align: middle;
}

.example-action-buttons-2 {
  padding: 5px;
  text-align: center;
  height: fit-content;
  background-color: white;
  font-size: medium;
  align-items: center;
  vertical-align: middle;
  max-height: fit-content;
  opacity: 1;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.div {
  opacity: 0;
}

.example-margin {
  text-align: center;
  align-content: center;
  margin: 0 10px;
}

mat-toolbar {
    width: 100%;
    vertical-align: middle;
    min-height: fit-content;
    background-color:rgb(192, 213, 210);
    opacity: 1;
    /* border-radius: 10px; */
}

.example-full-width {
    width: 100%;
    vertical-align: middle;
    min-height: fit-content;
    background-color:rgba(176, 204, 189, 0.962);
    /* opacity: 1; */
    /* border-radius: 10px; */
}

.example-23-width {
    width: 67%;
    vertical-align: middle;
    min-height: fit-content;
    background-color:rgba(176, 204, 189, 0.962);
    /* border-radius: 10px; */
}

.example-13-width {
    width: 33%;
    vertical-align: middle;
    min-height: fit-content;
    /* border-radius: 10px; */
    padding: 30px 30px 20px 20px;
}

.example-14-width {
  width: 25%;
  vertical-align: middle;
  min-height: fit-content;
  /* border-radius: 10px; */
  padding: 30px 30px 20px 20px;
}

.example-16-width {
  width: 17%;
  vertical-align: middle;
  min-height: fit-content;
  /* border-radius: 10px; */
  padding: 30px 30px 20px 20px;
}

.example-half-width {
    width: 50%;
    vertical-align: middle;
    min-height: fit-content;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

p {
    text-align: center;
    font-size: large;
    align-items: center;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-label {
    height: max-content;
    padding: 10px;
}


textarea {
    background-color: rgb(64, 167, 152);
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}


th.mat-sort-header-sorted {
    color: black;
}

.demo-button-container {
    padding-bottom: 16px;
}

.demo-button+.demo-button {
    margin-left: 8px;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

mat-sidenav {
    width: 420px;
}

th,
td,
tr {
    margin: auto;
    text-align: center;
    align-content: center;
    width: fit-content;
    height: fit-content;
    padding: 15px 10px;
    font-size: medium;
}

mat-accordion {
    margin: 20px 10px;
}

mat-divider {
    color: rgb(64, 167, 152);
    border-bottom: 1px solid rgb(64, 167, 152);
}

.form-control {
    width: 50%;
    vertical-align: middle;
    min-height: fit-content;
}

.form-control-full {
    width: 80%;
    vertical-align: middle;
    min-height: fit-content;
}

