<div class="example-full-width">
    <h1>Harry Potter Movies</h1>
    <mat-toolbar style="text-align:center;background-color: inherit;height: fit-content;">
        <span class="example-spacer"></span>
        <div class="example-23-width" style="background-color:rgb(192, 213, 210);">
            <h1 style="background-color: inherit;">Filters:</h1>
            <mat-toolbar style="background-color:inherit;height: fit-content;">
                <span class="example-spacer"></span>
                <mat-form-field class="example-13-width" color="primary">
                    <mat-label>
                        Title:
                    </mat-label>
                    <input matInput type="text" [formControl]="filter" placeholder="Filter movies by title...">
                </mat-form-field>
                <span class="example-spacer"></span>
                <mat-form-field class="example-13-width" color="primary">
                    <mat-label>
                        Release Year:
                    </mat-label>
                    <input matInput type="number" [formControl]="year" placeholder="Filter movies by release year...">
                </mat-form-field>
                <span class="example-spacer"></span>
            </mat-toolbar>
        </div>
        <span class="example-spacer"></span>
    </mat-toolbar>

    <ul>
        <li class="example-full-width" *ngFor="let movie of finalMovies$ | async" style="background-color:rgb(192, 213, 210);">
            <mat-toolbar style="background-color:inherit;">
                <h1>
                    {{movie.title}}
                </h1>
                <span class="example-spacer"></span>
                <button id={{movie.id}} mat-raised-button matTooltip="View Details about this movie." color="primary"
                    (click)="viewDetails(movie.id)" style="height:50px;width:fit-content;">Details
                    <mat-icon fontIcon="movie" aria-hidden="false" aria-label="details"></mat-icon>
                </button>
            </mat-toolbar>
            <h3>
                <span class="tab"></span>
                Release date: {{movie.release_date}}
                <span class="tab"></span>
                Budget: ${{movie.budget}} million
                <span class="tab"></span>
                Duration: {{(movie.duration - movie.duration%60)/60}}h {{movie.duration%60}}m
            </h3>

        </li>
    </ul>
</div>